.back i {
  font-size: 60px;
  width: 80px;
}
.Box {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.outer {
  width: 90%;
  padding: 30px;
  height: 95vh;
  display: flex;
  justify-content: center;
  border: 2px solid #3434;
  border-radius: 20px;
  gap: 2em;
}
.calculator-one {
  overflow: scroll;
  height: 80vh;
  width: 45%;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  justify-content: center;
  box-shadow: 2px 4px 50px rgb(5, 2, 2);
}
.calculator-one h1,
.calculator-two h1 {
  color: #000;
  font-weight: bold;
  margin: 12px;
}
.enter {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 20px;
}
.equipment {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #3434;
}
label {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}
.calculator-two {
  overflow: scroll;
  height: 80vh;
  width: 45%;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 4px 50px rgb(5, 2, 2);
}

.result {
  margin-top: 20px;
  padding: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.recommendation p {
  color: #d73125;
  font-weight: bold;
}
.click {
  margin-bottom: 10px;
  padding: 2px;
  border: none;
  border-radius: 4px;
  background-color: #1fa41f;
  color: #fff;
  cursor: pointer;
}

.click:hover {
  background-color: #9af065;
  color: #000;
}
.butt {
  display: flex;
  justify-content: space-around;
}

.history {
  background-color: #fff;
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
label {
  display: block;
  margin-bottom: 5px;
}

.result p {
  color: #000;
}
.history h1,
.history p {
  color: #d73125;
}
