#root {
  margin: 0;
  overflow: scroll;
}
body {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #34db8a, #9db651);
}

.modal {
  background-color: #fff;
  color: #010;
}
